In [24]:
import pandas as pd
data=pd.read_csv("logistic_regression_dataset.csv")
data

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1.0
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0.0
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0.0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1.0
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,4233,46,3.0,F,NO,0.0,0.0,0,0,0,277.0,122.5,77.5,27.42,63.0,77.0,NaN
4234,4234,58,2.0,F,NO,0.0,0.0,0,0,0,190.0,132.0,67.0,23.08,65.0,70.0,NaN
4235,4235,55,1.0,M,NO,0.0,0.0,0,0,0,199.0,134.0,80.0,26.41,120.0,NaN,NaN
4236,4236,45,3.0,F,NO,0.0,0.0,0,1,0,231.0,157.5,104.5,22.86,75.0,92.0,NaN
4237,4237,56,NaN,M,YES,25.0,0.0,0,0,0,255.0,138.0,80.0,23.44,67.0,79.0,NaN

In [3]:
data.isnull().sum()

id                   0
age                  0
education          105
sex                  0
is_smoking           0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD         848
dtype: int64

In [10]:
data['education'].fillna(df['education'].mean(),inplace=True)
data

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.00000,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1.0
1,1,36,4.00000,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0.0
2,2,46,1.00000,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0.0
3,3,50,1.00000,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1.0
4,4,64,1.00000,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,4233,46,3.00000,F,NO,0.0,0.0,0,0,0,277.0,122.5,77.5,27.42,63.0,77.0,NaN
4234,4234,58,2.00000,F,NO,0.0,0.0,0,0,0,190.0,132.0,67.0,23.08,65.0,70.0,NaN
4235,4235,55,1.00000,M,NO,0.0,0.0,0,0,0,199.0,134.0,80.0,26.41,120.0,NaN,NaN
4236,4236,45,3.00000,F,NO,0.0,0.0,0,1,0,231.0,157.5,104.5,22.86,75.0,92.0,NaN
4237,4237,56,1.97895,M,YES,25.0,0.0,0,0,0,255.0,138.0,80.0,23.44,67.0,79.0,NaN

In [29]:
data['cigsPerDay'].fillna(data['cigsPerDay'].mean(),inplace=True)

In [30]:
data['BPMeds'].value_counts()

0.0    4061
1.0     124
Name: BPMeds, dtype: int64

In [31]:
data['BPMeds']=data['BPMeds'].fillna(0)

In [32]:
data['TenYearCHD'].value_counts()

0.0    2879
1.0     511
Name: TenYearCHD, dtype: int64

In [ ]:
data=data.dropna(subset=['TenYearCH'])
data

In [23]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.00000,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,<bound method Series.dropna of 0 1.0\n1 ...
1,1,36,4.00000,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,<bound method Series.dropna of 0 1.0\n1 ...
2,2,46,1.00000,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,<bound method Series.dropna of 0 1.0\n1 ...
3,3,50,1.00000,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,<bound method Series.dropna of 0 1.0\n1 ...
4,4,64,1.00000,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,<bound method Series.dropna of 0 1.0\n1 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,4233,46,3.00000,F,NO,0.0,0.0,0,0,0,277.0,122.5,77.5,27.42,63.0,77.0,<bound method Series.dropna of 0 1.0\n1 ...
4234,4234,58,2.00000,F,NO,0.0,0.0,0,0,0,190.0,132.0,67.0,23.08,65.0,70.0,<bound method Series.dropna of 0 1.0\n1 ...
4235,4235,55,1.00000,M,NO,0.0,0.0,0,0,0,199.0,134.0,80.0,26.41,120.0,NaN,<bound method Series.dropna of 0 1.0\n1 ...
4236,4236,45,3.00000,F,NO,0.0,0.0,0,1,0,231.0,157.5,104.5,22.86,75.0,92.0,<bound method Series.dropna of 0 1.0\n1 ...
4237,4237,56,1.97895,M,YES,25.0,0.0,0,0,0,255.0,138.0,80.0,23.44,67.0,79.0,<bound method Series.dropna of 0 1.0\n1 ...